In [14]:
import pandas as pd

dadosPerson = pd.read_csv('Person.Person.csv', on_bad_lines='skip', sep=';')

In [13]:
dadosPerson

,BusinessEntityID,PersonType,NameStyle,Title,FirstName,MiddleName,LastName,Suffix,EmailPromotion,AdditionalContactInfo,Demographics,rowguid,ModifiedDate
0,1,EM,0,NaN,Ken,J,Sánchez,NaN,0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",92C4279F-1207-48A3-8448-4636514EB7E2,2009-01-07 00:00:00.000
1,2,EM,0,NaN,Terri,Lee,Duffy,NaN,1,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",D8763459-8AA8-47CC-AFF7-C9079AF79033,2008-01-24 00:00:00.000
2,3,EM,0,NaN,Roberto,NaN,Tamburello,NaN,0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",E1A2555E-0828-434B-A33B-6F38136A37DE,2007-11-04 00:00:00.000
3,4,EM,0,NaN,Rob,NaN,Walters,NaN,0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",F2D7CE06-38B3-4357-805B-F4B6B71C01FF,2007-11-28 00:00:00.000
4,5,EM,0,Ms.,Gail,A,Erickson,NaN,0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",F3A3F6B4-AE3B-430C-A754-9F2231BA6FEF,2007-12-30 00:00:00.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19967,20773,IN,0,NaN,Crystal,NaN,Guo,NaN,0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",D0A499A2-C258-43E9-AB06-F61543A71134,2014-03-19 00:00:00.000
19968,20774,IN,0,NaN,Isabella,F,Richardson,NaN,2,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",A4F7F248-82F3-43D5-B5A3-8BD1CB610254,2013-07-29 00:00:00.000
19969,20775,IN,0,NaN,Crystal,S,He,NaN,0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",CD0B82D0-3409-4497-A65F-A68E75EE26CB,2014-03-12 00:00:00.000
19970,20776,IN,0,NaN,Crystal,NaN,Zheng,NaN,1,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",386E35E8-97B3-43E4-9B5F-9594C2FF5CEA,2014-01-14 00:00:00.000
19971,20777,IN,0,NaN,Crystal,NaN,Hu,NaN,0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",1773C8F3-2CC7-4826-A7F5-30D3F36543CD,2013-10-16 00:00:00.000

In [16]:
dadosProduction = pd.read_csv('Production.Product.csv', on_bad_lines='skip', sep=';')
dadosPerson

,BusinessEntityID,PersonType,NameStyle,Title,FirstName,MiddleName,LastName,Suffix,EmailPromotion,AdditionalContactInfo,Demographics,rowguid,ModifiedDate
0,1,EM,0,NaN,Ken,J,Sánchez,NaN,0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",92C4279F-1207-48A3-8448-4636514EB7E2,2009-01-07 00:00:00.000
1,2,EM,0,NaN,Terri,Lee,Duffy,NaN,1,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",D8763459-8AA8-47CC-AFF7-C9079AF79033,2008-01-24 00:00:00.000
2,3,EM,0,NaN,Roberto,NaN,Tamburello,NaN,0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",E1A2555E-0828-434B-A33B-6F38136A37DE,2007-11-04 00:00:00.000
3,4,EM,0,NaN,Rob,NaN,Walters,NaN,0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",F2D7CE06-38B3-4357-805B-F4B6B71C01FF,2007-11-28 00:00:00.000
4,5,EM,0,Ms.,Gail,A,Erickson,NaN,0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",F3A3F6B4-AE3B-430C-A754-9F2231BA6FEF,2007-12-30 00:00:00.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19967,20773,IN,0,NaN,Crystal,NaN,Guo,NaN,0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",D0A499A2-C258-43E9-AB06-F61543A71134,2014-03-19 00:00:00.000
19968,20774,IN,0,NaN,Isabella,F,Richardson,NaN,2,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",A4F7F248-82F3-43D5-B5A3-8BD1CB610254,2013-07-29 00:00:00.000
19969,20775,IN,0,NaN,Crystal,S,He,NaN,0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",CD0B82D0-3409-4497-A65F-A68E75EE26CB,2014-03-12 00:00:00.000
19970,20776,IN,0,NaN,Crystal,NaN,Zheng,NaN,1,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",386E35E8-97B3-43E4-9B5F-9594C2FF5CEA,2014-01-14 00:00:00.000
19971,20777,IN,0,NaN,Crystal,NaN,Hu,NaN,0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",1773C8F3-2CC7-4826-A7F5-30D3F36543CD,2013-10-16 00:00:00.000

In [21]:
dadosCustomer = pd.read_csv('Sales.Customer.csv', on_bad_lines='skip', sep=';')
dadosCustomer

,CustomerID,PersonID,StoreID,TerritoryID,AccountNumber,rowguid,ModifiedDate
0,1,NaN,934.0,1,AW00000001,3F5AE95E-B87D-4AED-95B4-C3797AFCB74F,2014-09-12 11:15:07.263
1,2,NaN,1028.0,1,AW00000002,E552F657-A9AF-4A7D-A645-C429D6E02491,2014-09-12 11:15:07.263
2,3,NaN,642.0,4,AW00000003,130774B1-DB21-4EF3-98C8-C104BCD6ED6D,2014-09-12 11:15:07.263
3,4,NaN,932.0,4,AW00000004,FF862851-1DAA-4044-BE7C-3E85583C054D,2014-09-12 11:15:07.263
4,5,NaN,1026.0,4,AW00000005,83905BDC-6F5E-4F71-B162-C98DA069F38A,2014-09-12 11:15:07.263
...,...,...,...,...,...,...,...
19815,30114,1985.0,1986.0,7,AW00030114,97154F3D-28F1-4B15-AE03-9518B781ECE3,2014-09-12 11:15:07.263
19816,30115,1987.0,1988.0,6,AW00030115,E4CF8FD5-30A4-4B8E-8FD8-47032E255778,2014-09-12 11:15:07.263
19817,30116,1989.0,1990.0,4,AW00030116,EC409609-D25D-41B8-9D15-A1AA6E89FC77,2014-09-12 11:15:07.263
19818,30117,1991.0,1992.0,4,AW00030117,6F08E2FB-1CD3-4F6E-A2E6-385669598B19,2014-09-12 11:15:07.263
19819,30118,1993.0,1994.0,3,AW00030118,2495B4EB-FE8B-459E-A1B6-DBA25C04E626,2014-09-12 11:15:07.263

In [22]:
dadosDetail = pd.read_csv('Sales.SalesOrderDetail.csv', on_bad_lines='skip', sep=';')
dadosDetail

,SalesOrderID,SalesOrderDetailID,CarrierTrackingNumber,OrderQty,ProductID,SpecialOfferID,UnitPrice,UnitPriceDiscount,LineTotal,rowguid,ModifiedDate
0,43659,1,4911-403C-98,1,776,1,"2024,994","0,00",2024.994,B207C96D-D9E6-402B-8470-2CC176C42283,2011-05-31 00:00:00.000
1,43659,2,4911-403C-98,3,777,1,"2024,994","0,00",6074.982,7ABB600D-1E77-41BE-9FE5-B9142CFC08FA,2011-05-31 00:00:00.000
2,43659,3,4911-403C-98,1,778,1,"2024,994","0,00",2024.994,475CF8C6-49F6-486E-B0AD-AFC6A50CDD2F,2011-05-31 00:00:00.000
3,43659,4,4911-403C-98,1,771,1,"2039,994","0,00",2039.994,04C4DE91-5815-45D6-8670-F462719FBCE3,2011-05-31 00:00:00.000
4,43659,5,4911-403C-98,1,772,1,"2039,994","0,00",2039.994,5A74C7D2-E641-438E-A7AC-37BF23280301,2011-05-31 00:00:00.000
...,...,...,...,...,...,...,...,...,...,...,...
121312,75122,121313,NaN,1,878,1,"21,98","0,00",21.980,8CAD6675-18CC-4F47-8287-97B41A8EE47D,2014-06-30 00:00:00.000
121313,75122,121314,NaN,1,712,1,"8,99","0,00",8.990,84F1C363-1C50-4442-BE16-541C59B6E12C,2014-06-30 00:00:00.000
121314,75123,121315,NaN,1,878,1,"21,98","0,00",21.980,C18B6476-429F-4BB1-828E-2BE5F82A0A51,2014-06-30 00:00:00.000
121315,75123,121316,NaN,1,879,1,"159,00","0,00",159.000,75A89C6A-C60A-47EA-8A52-B52A9C435B64,2014-06-30 00:00:00.000
121316,75123,121317,NaN,1,712,1,"8,99","0,00",8.990,73646D26-0461-450D-8019-2C6C858619CA,2014-06-30 00:00:00.000

In [23]:
dadosHeader = pd.read_csv('Sales.SalesOrderHeader.csv', on_bad_lines='skip', sep=';')
dadosHeader

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,...,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43659,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43659,PO522145787,10-4020-000676,...,16281.0,105041Vi84182,NaN,"20565,6206","1971,5149","616,0984","23153,2339",NaN,79B65321-39CA-4115-9CBA-8FE0903E12E6,2011-06-07 00:00:00.000
1,43660,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43660,PO18850127500,10-4020-000117,...,5618.0,115213Vi29411,NaN,"1294,2529","124,2483","38,8276","1457,3288",NaN,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07 00:00:00.000
2,43661,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43661,PO18473189620,10-4020-000442,...,1346.0,85274Vi6854,4.0,"32726,4786","3153,7696","985,553","36865,8012",NaN,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07 00:00:00.000
3,43662,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43662,PO18444174044,10-4020-000227,...,10456.0,125295Vi53935,4.0,"28832,5289","2775,1646","867,2389","32474,9324",NaN,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07 00:00:00.000
4,43663,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43663,PO18009186470,10-4020-000510,...,4322.0,45303Vi22691,NaN,"419,4589","40,2681","12,5838","472,3108",NaN,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07 00:00:00.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31460,75119,8,2014-06-30 00:00:00.000,2014-07-12 00:00:00.000,2014-07-07 00:00:00.000,5,1,SO75119,NaN,10-4030-011981,...,6761.0,429826Vi35166,NaN,"42,28","3,3824","1,057","46,7194",NaN,9382F1C9-383A-435F-9449-0EECEA21B78D,2014-07-07 00:00:00.000
31461,75120,8,2014-06-30 00:00:00.000,2014-07-12 00:00:00.000,2014-07-07 00:00:00.000,5,1,SO75120,NaN,10-4030-018749,...,8925.0,929849Vi46003,NaN,"84,96","6,7968","2,124","93,8808",NaN,AE6A4FCF-FF73-4CD4-AF2C-5993D00D4AFE,2014-07-07 00:00:00.000
31462,75121,8,2014-06-30 00:00:00.000,2014-07-12 00:00:00.000,2014-07-07 00:00:00.000,5,1,SO75121,NaN,10-4030-015251,...,14220.0,529864Vi73738,NaN,"74,98","5,9984","1,8745","82,8529",NaN,D7395C0E-00CB-4BFA-A238-0D6A9F49884F,2014-07-07 00:00:00.000
31463,75122,8,2014-06-30 00:00:00.000,2014-07-12 00:00:00.000,2014-07-07 00:00:00.000,5,1,SO75122,NaN,10-4030-015868,...,18719.0,330022Vi97312,NaN,"30,97","2,4776","0,7743","34,2219",NaN,4221035A-4159-492F-AF40-4363A64FFC16,2014-07-07 00:00:00.000
31464,75123,8,2014-06-30 00:00:00.000,2014-07-12 00:00:00.000,2014-07-07 00:00:00.000,5,1,SO75123,NaN,10-4030-018759,...,10084.0,230370Vi51970,NaN,"189,97","15,1976","4,7493","209,9169",NaN,D54752FF-2B54-4BE5-95EA-3B72289C059F,2014-07-07 00:00:00.000

In [24]:
dadosSpecial = pd.read_csv('Sales.SpecialOfferProduct.csv', on_bad_lines='skip', sep=';')
dadosSpecial

,SpecialOfferID,ProductID,rowguid,ModifiedDate
0,1,680,BB30B868-D86C-4557-8DB2-4B2D0A83A0FB,2011-04-01 00:00:00.000
1,1,706,B3C9A4B1-2AE6-4CBA-B552-1F206C9F4C1F,2011-04-01 00:00:00.000
2,1,707,27B711FE-0B77-4EA4-AD1A-7C239956BEF4,2011-04-01 00:00:00.000
3,1,708,46CBB78B-246E-4D69-9BD6-E521277C1078,2011-04-01 00:00:00.000
4,1,709,CF102AA0-055F-4D2B-8B98-04B161758EA8,2011-04-01 00:00:00.000
...,...,...,...,...
533,16,984,52DD0F65-0EA9-4848-9884-7594BA953274,2014-03-01 00:00:00.000
534,16,985,C8127A82-05C3-42FD-A5C6-215D58A236BD,2014-03-01 00:00:00.000
535,16,986,C60FB28D-2431-481C-985E-3FEA8119D705,2014-03-01 00:00:00.000
536,16,987,BEBD6F20-D6C2-4511-8C97-1F53B2099D1F,2014-03-01 00:00:00.000
537,16,988,2981C98B-A18F-4153-A6A2-EC453CB130CE,2014-03-01 00:00:00.000